@import "tailwindcss";

body {
  overflow-x: hidden;
}


@font-face {
    font-family: 'PPEditorialNew-Italic';
    src: url(assets/fonts/PPEDITORIALNEW-ITALIC.OTF);
}

@font-face {
  font-family: 'PPEditorialNewRegular';
  src: url(assets/fonts/PPEDITORIALNEW-REGULAR.OTF); 
}

@font-face {
  font-family: 'PPMondwest';
  src: url(assets/fonts/PPMONDWEST-REGULAR.OTF); 
}

@font-face {
  font-family: 'GreatVibes';
  src: url(assets/fonts/GREATVIBES-REGULAR.TTF);
}

@font-face {
  font-family: 'Dirtyline';
  src: url(assets/fonts/DIRTYLINE.OTF); 
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}